KexAlgorithms +diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1,diffie-hellman-group1-sha1
Ciphers +aes128-ctr,aes192-ctr,aes256-ctr
HostKeyAlgorithms +ssh-rsa

Host *
    ServerAliveInterval 5
    ServerAliveCountMax 3
