ansible==8.1.0
ansible-creator==25.3.0
ansible-lint==24.2.2
ansible-navigator==3.4.2
ansible-pylibssh==1.2.2
ansible-rulebook==1.0.4
ansible-runner==2.3.4
ara[server]==1.7.2
dateparser==1.2.0
Flask==2.3.3
genie==25.1
hvac==2.1.0
jc==1.23.6
ntc_templates==4.0.1
pan-os-python==1.12.1
pan-python==0.17.0
pyats==25.1
python-slugify==8.0.1
PyYAML==6.0.1
ttp-templates==0.3.6
xmltodict==0.13.0
