[defaults]
inventory = inventory.yml
stdout_callback = ansible.builtin.default
strategy = free
forks = 8

[persistent_connection]
ssh_type = libssh

[libssh_connection]
host_key_checking = false
look_for_keys = false
